<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934163786266-kib1i1dmjqq28p1orl0h1eis7uj6qude.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934163786266-kib1i1dmjqq28p1orl0h1eis7uj6qude</string>
	<key>API_KEY</key>
	<string>AIzaSyDyy-O5C8Yz7l_5Eu8XrdXvPtb2Tl8delM</string>
	<key>GCM_SENDER_ID</key>
	<string>934163786266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deskhelper</string>
	<key>PROJECT_ID</key>
	<string>deskhelper-818da</string>
	<key>STORAGE_BUCKET</key>
	<string>deskhelper-818da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934163786266:ios:6ae4a3c7f2314a2b76bfa3</string>
</dict>
</plist>